// colors
$body-background-color: #deb887;
$mainContent-background-color: #fffff0;
$Result-background-color: #fff;

// sizes
$c__search-width: 100%;

// query breakpoint
$small-size: 668px;
$medium-size: 996px;
